body{
    @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=The+Nautigal:wght@700&family=Yeseva+One&display=swap');
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
    margin: 0;
}
nav{
    background-color: #562EFF;
    display: flex;
    justify-content: center;
}
.nav-image-left{
    width: 40.42px;
    height: 51px;
    margin-right: 15.58px;
}    
.nav-image-right{
    width: 51px;
    height: 51px;
}
.menubar{
    height: 94px;
    width: 870px;
    display: flex;
    justify-content: space-between;
}
/* universal properties */
.nav-font{
    color: white;
    text-decoration: none;
    margin-right: 36px;
    font-family: Poppins;
    font-style: normal;
}
/* universal properties */
.left-span a{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}
.right-span a{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.left-span, .right-span{
    display: flex;
    align-items: center;
}
section{
    background-color: white;
    width: 870px;
    margin: 5px 285px;
    height: 679px;
    border-radius: 5px;
}
main{
    display: flex;
    justify-content: center;
}
